<div class="container-fluid mt-5 mb-5">
    <div class="row">
      <div class="col-sm-8">
          <div class="card">
              <div class="card-body">
                  <h2>Gestionnaire des tournois</h2>
                  <app-tournament></app-tournament>
              </div>
          </div>
      </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h2>Ajouter un tournois</h2>
                    <a routerLink="/tournament/add" class="btn-success btn mb-5">+ Ajouter un tournois</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid mt-5 mb-5">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-8">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header text-right">-->
                            <!--<a routerLink="/teams">+ Ajouter une équipe</a>-->
                        <!--</div>-->
                        <!--<div class="card-body">-->
                            <!--<a>-->
                                <!--<h1 class="card-title">-->
                                    <!--Equipes-->
                                <!--</h1>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header text-right">-->
                            <!--<a href="#">Gestion des poules</a>-->
                        <!--</div>-->
                        <!--<div class="card-body">-->
                            <!--<a>-->
                                <!--<h1 class="card-title">-->
                                    <!--Poules-->
                                <!--</h1>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row mt-5 mb-5">-->
                <!--<div class="col-sm-12">-->
                    <!--<app-ranking></app-ranking>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<app-results></app-results>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->